*.iml
.gradle
/local.properties
/.idea/dictionaries
/.idea/copyright
/.idea/libraries
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
gradle.properties
/app/.gitignore
/app/proguard-rules.pro
/app/libs
/app/build


